<app-navbar></app-navbar>
<div class="container" >
    <h1 class="text-center" style="color:rgb(30, 107, 60)">About Us</h1>
    <hr>
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum saepe placeat eligendi corrupti ipsa
        accusamus voluptatem quis exercitationem voluptates veritatis! Qui voluptatem dolore error eum, similique nihil
        fugiat enim quas reiciendis exercitationem vero consequatur? Itaque, magnam. Ut exercitationem amet quos veniam
        enim? Aperiam quia officiis velit vitae placeat, quidem voluptatibus iste enim, cupiditate aliquid optio minus
        omnis ex corrupti accusamus provident hic maxime sit facilis iusto porro excepturi? Soluta ipsam dolorum
        obcaecati culpa animi nemo neque voluptate nam assumenda, voluptates quasi sed, eveniet magnam similique ullam
        doloremque consectetur molestiae. Debitis quidem commodi harum rerum perferendis tenetur non voluptate velit
        veniam?</h5>

</div>