<nav class="navbar navbar-expand-lg navbar-light bg-light " style=" background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,96,121,1) 35%, rgba(0,212,255,1) 100%);
">
  <img
    src="./icon.png" class="imgg"
    alt="not found" style="height:25px ;">
  <a class="navbar-brand text-white" style=" font-weight: bold;" href="#"><span style="color: rgb(228, 78, 23); ">S</span>hopsy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" routerLink="/">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/aboutpage">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  text-white" routerLink="/contantpage">Contant</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  text-white"  style="margin-left:19cm;" routerLink="/register">Register <span><img style="height: 30px;" src="https://cdn-icons-png.flaticon.com/512/2921/2921147.png" alt=""></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link  text-white" routerLink="/login">Login <img style="height: 30px;" src="https://cdn-icons-png.flaticon.com/512/152/152532.png" alt=""></a>
      </li>
    </ul>

  </div>
</nav>
