
<div class="row">
    <div class="col-lg-3" *ngFor="let products of product ">
        <div class="card">
            <img class="card-img-top" src="{{'http://rjtmobile.com/grocery/images/'+products.image}}"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{products.price| currency:'INR'}}<h2><span><del>{{products.mrp| currency:'INR'}}</del></span></h2></h5>
                <p class="card-text">{{products.productName}}</p>
                
                <a href="#"  class="btn btn-primary " id="btnn">Buy Now</a>
            </div>
        </div>
    </div>

</div>