*{
    margin: 0;
    padding: 0;
}
.container {
    margin-top: 1cm;
    width: 100%;  

}
input{
    height: 45px;
}
.form-control{
    border: 2px solid rgb(226, 164, 164);
    margin: 10px;
    border-radius: 50px;
    width: 90%;
}
